<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myprj.myapp.persistance.CalendarMapper">

	<select id="calendarSelectAll" parameterType="int" resultType="cv">
		 SELECT * FROM CALENDAR WHERE delyn = 'N' and bidx = #{bidx}
	</select>
	
	<insert id="calendarInsert" parameterType="cv">
  		INSERT INTO CALENDAR(startday, endday, adultprice, childprice, bidx, ip) 
		VALUES(#{startday}, #{endday}, #{adultprice}, #{childprice}, #{bidx}, #{ip})
	</insert>
	
	<update id="calendarUpdate" parameterType="cv">
  		UPDATE CALENDAR SET adultprice = #{adultprice}, childprice = #{childprice}, modify = now(), ip = #{ip} WHERE bidx = #{bidx} and startday = #{startday}
	</update>
	
	<select id="calendarFindIdx" parameterType="HashMap" resultType="Integer">
  		SELECT cidx FROM CALENDAR WHERE delyn = 'N' and bidx = #{bidx} and startday = #{startday}
	</select>
	
	<update id="calendarDelete" parameterType="cv">
  		UPDATE CALENDAR SET delyn = "Y", modify = now(), ip = #{ip} WHERE bidx = #{bidx} and startday = #{startday}
	</update>

</mapper>