<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myprj.myapp.persistance.CalendarMapper">

	<select id="calendarSelectAll" parameterType="int" resultType="cv">
		 SELECT * FROM CALENDAR WHERE delyn = 'N' and bidx = #{bidx};
	</select>
	
	<insert id="calendarInsert" parameterType="cv">
  		INSERT INTO CALENDAR(startday, endday, adultprice, childprice, bidx, ip, midx) 
		VALUES(#{startday}, #{endday}, #{adultprice}, #{childprice}, #{bidx}, #{ip}, #{midx})
	</insert>

</mapper>