<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myprj.myapp.persistance.CommentMapper">
	
	<select id="commentSelectAll" resultType="cv">
		select * from comment where delyn='N' and bidx = #{0} order by writeday desc limit 0, #{1}  <!-- 여러개의 변수를 파라미터로 사용시 번호로 사용 가능 -->
	</select>
	
	<insert id="commentInsert" parameterType="cv">
		insert into comment(csubject, ccontents, cwriter, midx, bidx, cip)
		values(null, #{ccontents}, #{cwriter}, #{midx}, #{bidx}, #{cip})
	</insert>
	
	<update id="commentDelete" parameterType="cv">
		update comment set delyn = 'Y', cip = #{cip} where cidx = #{cidx} and midx = #{midx}
	</update>
	
	<select id="commentTotalCnt" parameterType = "int" resultType="int">
		select count(*) as cnt from comment where delyn = 'N' and bidx = #{bidx}
	</select>
	
</mapper>