<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  <!-- 규칙 지정 -->
 
<configuration> 
<typeAliases>
 <typeAlias alias="mv" type="com.myprj.myapp.domain.MemberVo"/>  <!-- mybatis 내부에서의 별칭 설정 alias="mv" -->
 <typeAlias alias="bv" type="com.myprj.myapp.domain.BoardVo"/>
 <typeAlias alias="scri" type="com.myprj.myapp.domain.SearchCriteria"/>
 <typeAlias alias="cv" type="com.myprj.myapp.domain.CommentVo"/>
</typeAliases>
</configuration>